<!DOCTYPE html>
<html dir="rtl">
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
        <link href="asset/dist/css/tabler.min.css?1684106062" rel="stylesheet"/>
        <link href="asset/dist/css/tabler-flags.min.css?1684106062" rel="stylesheet"/>
        <link href="asset/dist/css/tabler-payments.min.css?1684106062" rel="stylesheet"/>
        <link href="asset/dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet"/>
        <link href="asset/dist/css/demo.min.css?1684106062" rel="stylesheet"/>

		<link rel="stylesheet" href="asset/Css/createacount.css">
	</head>

	<body>

		<div class="wrapper">
			<div class="form-inner">
				<form action="">
					<div class="form-header mt-5 ">
                        <h5 class="header-h4 ">مرحبا</h5>
						<h5 class="header-h4"> سجل دخولك لنبدأ الان</h5>
					</div>
					<div class="form-group d-flex">
						<label for=""></label>
                        <span class="">
                            <svg width="20" height="20" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.3">
                              <path d="M27.5 10.8334C27.5 14.9684 24.135 18.3334 20 18.3334C15.865 18.3334 12.5 14.9684 12.5 10.8334C12.5 6.69837 15.865 3.33337 20 3.33337C24.135 3.33337 27.5 6.69837 27.5 10.8334ZM6.66667 35H5V33.3334C5 26.9017 10.235 21.6667 16.6667 21.6667H23.3333C29.7667 21.6667 35 26.9017 35 33.3334V35H6.66667Z" fill="black"/>
                            </g>
                          </svg></span>
                        <input type="text" class="form-control " data-validation="length alphanumeric" data-validation-length="3-12" placeholder="الاسم الكامل">
					     
                    </div>
                    
					<div class="form-group d-flex">
						<label for=""></label>
                        <span class="">
                            <svg  width="20" height="20" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.3">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M37.5 9.25L36.25 8H3.75L2.5 9.25V31.75L3.75 33H36.25L37.5 31.75V9.25ZM35 11.8375V30.5H5V11.84L19.225 22.75H20.75L35 11.8375ZM7.425 10.5H32.575L20 20.1725L7.425 10.5Z" fill="#060000"/>
                                </g>
                              </svg>
                        </span>
						<input type="text" class="form-control" data-validation="email" placeholder="البريد الاليكتروني">
                      
				 	</div>
                      

					<div class="form-group d-flex justify-content-center" >
						<label for=""></label>
                        <span>
                            <svg width="20" height="20" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.3">
                                  <path d="M33.3333 20.009C33.3333 18.1706 31.8383 16.6756 30 16.6756H28.3333V11.6756C28.3333 7.08062 24.595 3.34229 20 3.34229C15.405 3.34229 11.6666 7.08062 11.6666 11.6756V16.6756H9.99996C8.16163 16.6756 6.66663 18.1706 6.66663 20.009V33.3423C6.66663 35.1806 8.16163 36.6756 9.99996 36.6756H30C31.8383 36.6756 33.3333 35.1806 33.3333 33.3423V20.009ZM15 11.6756C15 8.91895 17.2433 6.67562 20 6.67562C22.7566 6.67562 25 8.91895 25 11.6756V16.6756H15V11.6756Z" fill="black"/>
                                </g>
                              </svg>
                          </span> 
    					
                        <input type="password" class="form-control" data-validation="length" data-validation-length="min8" placeholder="كلمة السر">
					</div>
                    
                    
                            <button   class="btn form-group   w-90 py-2  text-white rounded-4"  
                                      style="font-family: Air Strip Arabic;">تسجيل 
                            </button>
                   
				</form>
			</div>
            <div class="image-holder position-relative">
                <div class="d-flex position-absolute top-50 end-0 translate-middle-y">
				<h1 class="text-white letterworld me-5" >عالم الحروف</h1>
                </div>
                <div class=" mt-2 me-5 position-absolute top-50 end-0 translate-middle-y">
                    <h4 class="mt-5 text-white" style="font-family: Air Strip Arabic;">لوحة تحكم ستجعلك قادر على إدارة تطبيقك بكل سهولة</h4>
                   
                </div>
               <div class="me-5 position-absolute  end-0 translate-middle-y" style="top: 60%;">
                <a href="#" class="text-white btn rounded-5 border-0 fw-bolder" style="background: #0575E6; ;
                ">اقرأ المزيد</a>
               </div>
			</div>
		
		</div>
		
		<script src="asset/js/jquery-3.3.1.min.js"></script>
		<script src="asset/js/jquery.form-validator.min.js"></script>
		<script src="asset/js/createacount.js"></script>
	    <script src="asset/dist/libs/apexcharts/dist/apexcharts.min.js?1684106062" defer></script>
        <script src="asset/dist/libs/jsvectormap/dist/js/jsvectormap.min.js?1684106062" defer></script>
        <script src="asset/dist/libs/jsvectormap/dist/maps/world.js?1684106062" defer></script>
        <script src="asset/dist/libs/jsvectormap/dist/maps/world-merc.js?1684106062" defer></script>
        <!-- Tabler Core -->
        <script src="asset/dist/js/tabler.min.js?1684106062" defer></script>
        <script src="asset/dist/js/demo.min.js?1684106062" defer></script>
        <script src="asset/js/main.js"></script>   
        <script src="asset/js/all.min.js"></script>   
        <script src="asset/js/bootstrap.bundle.min.js"></script>  
        
    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>